@use "../global/forwards" as fw;

.l-main-visual{
  width: 100%;
  height: 100vh;
  background-image: url(../../img/mainvisual.jpg);
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
}


@include fw.mq("sp"){
  .l-main-visual{
    padding: 0 16px;
    margin-bottom: 10px;
  }

  .site-title img{
    width: 100%;
  }
}